body{
    min-height: 800px;
    border: 8px solid black;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 10px;
}
#box-1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#box-4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
    background-color: blue;
}