
body{
    border: 8px solid black;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
#box-1{
}
.box{
    flex-shrink: 1;
    min-width: 200px;
    height: 200px;
    width: 200px;
    background-color: skyblue;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media(max-width:575px) {
     body{
        flex-wrap: wrap;
     }
}