*{
    margin: 0;
    padding: 0;
}
html{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    position:fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid grey;
}
nav a{
    text-decoration: none;
    color: grey;
    margin: 0 20px;
}
nav a:hover{
    color: black;
}
nav a.active{
    color: red;
}
header{
    padding-top: calc(50px + 1rem + 2px);
}
h1{
    margin-top: 100px;
    font-size: 3.75rem;
}
h1 + p{
    margin: 35px auto;
    padding-inline: 35px;
}
#cta-button{
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, white, grey);
    display: inline-block;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 1000px;
    transition: 0.3s ease;
}
#cta-button:hover{
    scale: 1.1;
}
.video-player{
    margin-top: 30px;
    width: min(1000px, 100%);
    aspect-ratio: 16/9;
    border-radius: 15px;
}
.container{
    border-radius: 10px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 150px;
    margin-inline: auto;
    width: 1000px;
    height: 600px;
    max-width: 90%;
    min-width: 90%;
    min-height: 50%;
    overflow: auto;
}
.product-container{
    margin-top: 30px;
}
.item{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 0 20px;
    align-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.item > h2{
    margin-bottom: 10px;
}
.item:first-child{
    border: 1px solid black;
}
.item:nth-child(2){
    background-color: rgb(158, 64, 224);
    color: white;
}
.item:nth-child(3){
    background-color: black;
    color: white;
}