
body{
    border: 8px solid black;
    gap: 20px;
    display: flex;
    flex-wrap:wrap;
    place-content: center;
    background-color: grey;
}
#box-1{
}
.box{
    flex: 1 1 50px;
    min-width: 50px;
    max-width: 200px;
    height: 50px;
    background-color: skyblue;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 500px){
    body{
        background-color: blue;
    }
}
