*{
    margin: 0;
    padding: 0;
}
html{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    position:fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid grey;
}
nav a{
    text-decoration: none;
    color: grey;
    margin: 0 20px;
}
nav a:hover{
    color: black;
}
nav a.active{
    color: red;
}
header{
    padding-top: calc(50px + 1rem + 2px);
}
h1{
    margin-top: 100px;
    font-size: 3.75rem;
}
h1 + p{
    width: 800px;
    margin: 35px auto;
}
#cta-button{
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, white, grey);
    display: inline-block;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 1000px;
    transition: 0.3s ease;
}
#cta-button:hover{
    scale: 1.1;
}

.video-player{
    margin-top: 30px;
    width: min(1000px,100%);
    aspect-ratio: 16/9;
    border-radius: 15px;
}