
body{
    border: 8px solid black;
    gap: 20px;
    display: flex;
    flex-wrap:nowrap;
    place-content: center;
}
#box-1{
}
.box{
    flex: 1 1 150px;
    min-width: 150px;
    max-width: 200px;
    height: 200px;
    flex-shrink: 1;
    background-color: skyblue;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media(max-width:500px) {
     body{
        flex-wrap: wrap;
     }
}