:root{
  --accent-color: #d52c3a;
  --primary-color: #1B1C1F;
  --secondary-color: #101113;
  --text-color: #d9d9d9;
  --secondary-text-color: #7f8082;
}
*{
    margin 0;
    padding 0;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
header{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
header .container{
    width: 850px;
    max-width: 100%;
}
header img{
    height: 70vh;
}
header h1{
    margin-top: 200px;
    font-size: 4rem;
}
header h2{
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 300;
}
header p{
    color: var(--secondary-text-color);
}
header .read-more{
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1000px;
    padding: .5em 1.25em;
    text-decoration: none;
    margin-bottom: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}
header .read-more:hover{
    background-color: var(--secondary-color);
}